label {min-width:100px; display: inline-block;margin-right:10px;margin-left:10px;text-align: left;}
input[id*="loginBtn"], input[id*="logoutBtn"] {margin-right:10px;margin-left:10px;}
input[id*="loginBtn"], label[id*="usernameLbl"], label[id*="passwortLbl"] { font-size: 14px;}
.ui-layout-pane { border: 0;}
.halleBtn{font-size:12px;}
